[entryPoints]

  [entryPoints.web]
    address = ":80"

[api]
  dashboard = true

[providers]

  [providers.docker]
    watch = true
    network = "web"

  [providers.file]
    filename = "traefik_dynamic.toml"
